body {
  margin: 0;
  background: linear-gradient(170deg, rgb(8, 34, 10), rgb(214, 214, 214));
}

pre.amplify-text {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  overflow-y: scroll;
  text-overflow: ellipsis;
  padding: 1em;
}