body {
  margin: 0;
  background: linear-gradient(170deg, rgb(8, 34, 10), rgb(214, 214, 214));
}

pre.amplify-text {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  padding: 1rem;
}

.info-message {
  margin-left: 2.1rem;
  position: absolute;
  top: 2px;
  max-width: 430px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.info-message.show {
  opacity: 1;
  visibility: visible;
}

.alpha-badge {
  display: inline-flex;
  float: right;
  align-items: center;
  margin: 0.5rem 0.25rem;
  cursor: progress;
}

.badge--api-type {
  float: right;
  align-items: center;
  margin: 0.25rem 0;
}
.badge--api-type.badge--rest {
  background-color: #bfdbfe;
  color: #1e40af;
}

.badge--api-type.badge--graphql {
  background-color: #ddd6fe;
  color: #5b21b6;
}

.chart-container {
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.amplify-grid > .amplify-card {
  border-radius: 0.75rem;
}