body {
  margin: 0;
  background: linear-gradient(170deg, rgb(8, 34, 10), rgb(214, 214, 214));
}

pre.amplify-text {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  overflow-y: scroll;
  text-overflow: ellipsis;
  padding: 1em;
}

.amplify-badge {
  line-height: 1.2;
  align-items: center;
  vertical-align: middle;
  margin: 0 0.5em;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 4px;
}

.badge--api-type {
  position: relative;
  top: -0.15em;
}

.badge--api-type.badge--rest {
  background-color: #bfdbfe;
  color: #1e40af;
}

.badge--api-type.badge--graphql {
  background-color: #ddd6fe;
  color: #5b21b6;
}

/* Responsive adjustments */
@media screen and (max-width: 640px) {
  .amplify-badge {
    margin: 0.25em 0.5em;
    font-size: 0.8em;
  }
}
